# PATH setup in .bash_profile so login shells inherit it
{{- range .shell.paths }}
{{-   if or (not (hasKey . "os")) (eq .os $.chezmoi.os) }}
{{-     if and (hasKey . "relative") .relative }}
export PATH="$HOME/{{ .path }}:$PATH"
{{-     else }}
export PATH="{{ .path }}:$PATH"
{{-     end }}
{{-   end }}
{{- end }}

# Source .bashrc for interactive shells
if [ -f "$HOME/.bashrc" ]; then
    . "$HOME/.bashrc"
fi
