[user]
    name = {{ .github_username }}
    email = {{ .email }}

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true
    default = current

[pull]
    rebase = true

[fetch]
    prune = true

[rebase]
    autoStash = true

[merge]
    conflictStyle = zdiff3

[diff]
    algorithm = histogram
    colorMoved = default

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[rerere]
    enabled = true
