# ----------------------------------------------------
# ----- env -------------------------------------------
# ----------------------------------------------------

{{ range $name, $val := .shell.env -}}
{{-   if kindIs "map" $val }}
if command -v {{ $val.check }} &> /dev/null; then
    export {{ $name }}="{{ $val.value }}"
else
    export {{ $name }}="{{ $val.fallback }}"
fi
{{-   else if hasPrefix "." $val }}
export {{ $name }}="$HOME/{{ $val }}"
{{-   else }}
export {{ $name }}="{{ $val }}"
{{-   end }}
{{ end }}

# ----------------------------------------------------
# ----- opts ------------------------------------------
# ----------------------------------------------------

HISTSIZE=10000
HISTFILESIZE=10000
HISTCONTROL=ignoredups

# ----------------------------------------------------
# ----- funcs -----------------------------------------
# ----------------------------------------------------

{{ range $name, $func := .shell.functions -}}
# {{ $func.description }}
{{ $name }}() {
{{ $func.body | indent 4 }}
}

{{ end }}

# ----------------------------------------------------
# ----- alias -----------------------------------------
# ----------------------------------------------------

{{ range $name, $cmd := .shell.aliases -}}
command -v {{ $cmd | regexFind "^\\S+" }} &>/dev/null && alias {{ $name }}='{{ $cmd }}'
{{ end }}

# ----------------------------------------------------
# ----- mise (tool version manager) -------------------
# ----------------------------------------------------

if [ -x "$HOME/.local/bin/mise" ]; then
    eval "$("$HOME/.local/bin/mise" activate bash)"
fi
