# ----------------------------------------------------
# ----- prompt ----------------------------------------
# ----------------------------------------------------

autoload -Uz vcs_info
precmd() { vcs_info }
setopt PROMPT_SUBST

zstyle ':vcs_info:git:*' formats '%F{magenta}(%b)%f '

PROMPT='%F{141}%~%f ${vcs_info_msg_0_}%F{183}❯%f '

# ----------------------------------------------------
# ----- path ------------------------------------------
# ----------------------------------------------------

typeset -U path
path=(
{{- range .shell.paths }}
{{-   if or (not (hasKey . "os")) (eq .os $.chezmoi.os) }}
{{-     if and (hasKey . "relative") .relative }}
    $HOME/{{ .path }}
{{-     else }}
    {{ .path }}
{{-     end }}
{{-   end }}
{{- end }}
    $path
)

# ----------------------------------------------------
# ----- env -------------------------------------------
# ----------------------------------------------------

{{ range $name, $val := .shell.env -}}
{{-   if kindIs "map" $val }}
if command -v {{ $val.check }} &> /dev/null; then
    export {{ $name }}="{{ $val.value }}"
else
    export {{ $name }}="{{ $val.fallback }}"
fi
{{-   else if hasPrefix "." $val }}
export {{ $name }}="$HOME/{{ $val }}"
{{-   else }}
export {{ $name }}="{{ $val }}"
{{-   end }}
{{ end }}

# ----------------------------------------------------
# ----- opts ------------------------------------------
# ----------------------------------------------------

setopt AUTO_CD
setopt HIST_IGNORE_DUPS
setopt SHARE_HISTORY
HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000

# ----------------------------------------------------
# ----- completion ------------------------------------
# ----------------------------------------------------

autoload -Uz compinit && compinit
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'
zstyle ':completion:*' menu select

# ----------------------------------------------------
# ----- funcs -----------------------------------------
# ----------------------------------------------------

{{ range $name, $func := .shell.functions -}}
# {{ $func.description }}
{{ $name }}() {
    {{ $func.zsh }}
}

{{ end }}

# ----------------------------------------------------
# ----- alias -----------------------------------------
# ----------------------------------------------------

{{ range $name, $cmd := .shell.aliases -}}
alias {{ $name }}='{{ $cmd }}'
{{ end }}

# edit zshrc chezmoi source
alias configzsh='${EDITOR:-nano} $(chezmoi source-path)/dot_zshrc.tmpl'

# ----------------------------------------------------
# ----- colors ----------------------------------------
# ----------------------------------------------------

export CLICOLOR=1
export LSCOLORS=ExGxBxDxCxEgEdxbxgxcxd

{{- if eq .chezmoi.os "linux" }}

# ----------------------------------------------------
# ----- auto-launch nushell --------------------------
# ----------------------------------------------------

[[ -x ~/.local/bin/nu ]] && exec ~/.local/bin/nu -l
{{- end }}
