[user]
    name = {{ .github_username }}
    email = {{ .email }}

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true
    default = current

[pull]
    rebase = true

[fetch]
    prune = true

[rebase]
    autoStash = true

[merge]
    conflictStyle = zdiff3

[diff]
    algorithm = histogram
    colorMoved = default
    context = 30

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    dark = true
    tabs = 2
    # line number formatting
    line-numbers-left-format = "{nm:>4} "
    line-numbers-right-format = "│ {np:>4} "
    line-numbers-left-style = white dim
    line-numbers-right-style = "#1f2335" dim
    line-numbers-plus-style = white dim
    line-numbers-minus-style = white dim
    line-numbers-zero-style = white dim
    # file headers
    file-style = white bold
    file-decoration-style = "#555555" ul
    # hunk headers
    hunk-label = " "
    hunk-header-line-number-style = "#555555"
    hunk-header-style = "#888888"
    hunk-header-file-style = "#888888" dim
    hunk-header-decoration-style = "#444444" ul
    # diff colors
    plus-style = syntax "#0e250e"
    plus-emph-style = syntax "#103610"
    minus-style = syntax "#402a26"
    minus-emph-style = syntax "#45221c"

[alias]
    diffs = !DELTA_FEATURES=+side-by-side git diff

[rerere]
    enabled = true

[credential "https://github.com"]
    helper =
    helper = !gh auth git-credential

[credential "https://gist.github.com"]
    helper =
    helper = !gh auth git-credential
